In [ ]:
import pandas as pd

df = pd.read_csv("https://www.football-data.co.uk/mmz4281/2526/E0.csv")
df.insert(1, 'season', 25)
df.rename(columns={'FTHG': 'own_goals', 'FTAG': 'away-goals'}, inplace=True)
df

In [3]:
dict_contries = {'premier_leage': 'E0', 'English league 1': 'E2', 'English league 2': 'E3'}
root = "https://www.football-data.co.uk/mmz4281/"
for league in dict_contries:
    print (league)

premier_leage
English league 1
English league 2

In [5]:
# https://www.football-data.co.uk/mmz4281/2526/E1.csv
dict_historical_data = {}
dict_contries = {'premier_leage': 'E0', 'English league 1': 'E2', 'English league 2': 'E3'}
root = "https://www.football-data.co.uk/mmz4281/"
for league in dict_contries:
    frames = []
    for season in range(20,26):
        df = pd.read_csv( root + str(season) + str(season + 1) + "/" + dict_contries[league] + '.csv')
        df.insert(1, 'season', season)
        frames.append(df)
    df_concat = pd.concat(frames)
    dict_historical_data[league] = df_concat

In [9]:
from IPython.display import display

for league, df in dict_historical_data.items():
    print(f"=== {league} ===")
    display(df)  # hiện bảng đẹp với đường kẻ

=== premier_leage ===

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,BMGMCA,BVCH,BVCD,BVCA,CLCH,CLCD,CLCA,LBCH,LBCD,LBCA
0,E0,20,12/09/2020,12:30,Fulham,Arsenal,0,3,A,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,20,12/09/2020,15:00,Crystal Palace,Southampton,1,0,H,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,20,12/09/2020,17:30,Liverpool,Leeds,4,3,H,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,20,12/09/2020,20:00,West Ham,Newcastle,0,2,A,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,20,13/09/2020,14:00,West Brom,Leicester,0,3,A,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55,E0,25,27/09/2025,17:30,Nott'm Forest,Sunderland,0,1,A,0,...,4.75,1.73,3.75,4.80,1.75,3.6,4.6,1.75,3.6,4.6
56,E0,25,27/09/2025,20:00,Tottenham,Wolves,1,1,D,0,...,6.10,1.53,4.20,6.00,1.53,4.2,6.0,1.53,4.2,6.0
57,E0,25,28/09/2025,14:00,Aston Villa,Fulham,3,1,H,1,...,3.25,2.25,3.20,3.40,2.25,3.2,3.4,2.20,3.2,3.3
58,E0,25,28/09/2025,16:30,Newcastle,Arsenal,1,2,A,1,...,2.28,3.40,3.30,2.20,3.40,3.2,2.2,3.30,3.2,2.2
59,E0,25,29/09/2025,20:00,Everton,West Ham,1,1,D,1,...,5.40,1.65,3.90,5.25,1.67,3.8,5.0,1.67,3.8,5.0

=== English league 1 ===

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,BMGMCA,BVCH,BVCD,BVCA,CLCH,CLCD,CLCA,LBCH,LBCD,LBCA
0,E2,20,12/09/2020,15:00,Accrington,Peterboro,2,0,H,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E2,20,12/09/2020,15:00,Crewe,Charlton,0,2,A,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E2,20,12/09/2020,15:00,Doncaster,Milton Keynes Dons,1,1,D,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E2,20,12/09/2020,15:00,Fleetwood Town,Burton,2,1,H,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E2,20,12/09/2020,15:00,Gillingham,Hull,0,2,A,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,E2,25,27/09/2025,15:00,Peterboro,Lincoln,0,3,A,0,...,2.38,2.88,3.3,2.40,2.90,3.3,2.40,2.90,3.3,2.37
113,E2,25,27/09/2025,15:00,Stockport,Reading,1,1,D,1,...,4.80,1.57,4.0,5.50,1.61,4.2,5.00,1.61,4.0,5.00
114,E2,25,27/09/2025,15:00,Wigan,Cardiff,0,2,A,0,...,2.55,2.63,3.3,2.63,2.62,3.4,2.62,2.62,3.3,2.60
115,E2,25,30/09/2025,19:45,Blackpool,Luton,2,2,D,1,...,2.28,3.20,3.4,2.20,3.20,3.3,2.25,3.10,3.3,2.25
116,E2,25,30/09/2025,19:45,Cardiff,Burton,0,1,A,0,...,6.75,1.36,4.8,8.00,1.40,4.8,7.00,1.40,4.8,7.00

=== English league 2 ===

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,BMGMCA,BVCH,BVCD,BVCA,CLCH,CLCD,CLCA,LBCH,LBCD,LBCA
0,E3,20,12/09/2020,15:00,Barrow,Stevenage,1,1,D,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E3,20,12/09/2020,15:00,Bolton,Forest Green,0,1,A,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E3,20,12/09/2020,15:00,Bradford,Colchester,0,0,D,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E3,20,12/09/2020,15:00,Cambridge,Carlisle,3,0,H,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E3,20,12/09/2020,15:00,Cheltenham,Morecambe,1,2,A,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,E3,25,27/09/2025,15:00,Gillingham,Harrogate,0,1,A,0,...,4.50,1.67,3.60,5.25,1.73,3.7,5.00,1.73,3.60,4.80
115,E3,25,27/09/2025,15:00,Grimsby,Cheltenham,7,1,H,2,...,5.25,1.45,4.33,6.50,1.50,4.4,6.00,1.50,4.33,6.00
116,E3,25,27/09/2025,15:00,Shrewsbury,Milton Keynes Dons,1,2,A,0,...,2.38,3.00,3.30,2.30,2.90,3.4,2.37,2.90,3.30,2.37
117,E3,25,27/09/2025,15:00,Swindon,Bromley,2,0,H,2,...,3.35,2.10,3.60,3.20,2.10,3.7,3.25,2.05,3.70,3.25
118,E3,25,27/09/2025,15:00,Tranmere,Cambridge,0,0,D,0,...,2.43,3.13,3.13,2.38,3.00,3.2,2.40,3.00,3.20,2.37